.news {
    width: 512px;
    height: 521px;
    top: 1836px;
    left: 312px;
    gap: 60px;
    margin-right: 50px;
  
  }
  .left {
    display: flex;
    flex-direction: column;
    width: 306px;
    height: 394px;
    gap: 32px;
    margin-right: 24px;
  }
  .right {
    display: flex;
    flex-direction: column;
    width: 306px;
    height: 394px;
    gap: 32px;
  }
  .news_container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .news-zagolovok {
    margin-bottom: 60px;
  }
  .news-zagolovok h2{
    font-family: 'EB Garamond';
    font-size: 48px;
    font-weight: 700;
  }