body {
    margin: 0;
}
header {
    width: 100%;
    height: 110px;
    display: flex;
    flex-direction: row;
    padding-top: 60px;
    position: absolute;
    z-index: 10;
    justify-content: space-between;
    align-items: center;
}
header img {
    width: 258px;
    height: 28px;
    top: 60px;
    left: 162px;
    margin-left: 162px;
}
.navigation {
    width: 260px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 450px;
    margin-right: 162px;
}
.navigation__item {
    display: block;
    width: 24px;
    height: 21px;
}
.navigation__item--heart {
    background: url("Vector\ \(2\).png") no-repeat center center;
}
.navigation__item--person {
    background: url("Vector\ \(3\).png") no-repeat center center;
}
.navigation__item--card {
    background: url("Rectangle.png") no-repeat center center;
}
.navigation__item--stripes {
    background: url("Group\ 12.png") no-repeat center center;
    padding-left: 80px;
}
.content {
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 60%, rgba(0,0,0,1) 60%, rgba(0,0,0,1) 100%);
    width: 100%;
    height: 1024px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content__title {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: stretch;
    margin-top: 427px;
}
.content__zag {
    width: calc(60% - 162px);
    height: 174px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 162px;
}
.content__zag span {
    width: 433px;
    height: 71px;
    font-family: Forum;
    font-size: 64px;
    font-weight: 400;
    line-height: 71px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #272727;
}
.content__zag__podzag {
    width: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}
.content__picture {
    flex: 1;
    text-align: center;
}
@media screen and (min-width: 1400px) {
    .content__picture {
        text-align: left;
    }
    .ring {
        margin-left: -160px;
    }
}
.content__words {
    width: 200px;
    height: 85px;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
    white-space: nowrap;
    margin-right: 162px;
}
.content__footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    margin-top: 281px;
}
.content__language {
    width: 51px;
    margin-left: 162px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.content__words--first {
    font-family: Futura PT;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.05em;
    text-align: right;
    color: #FFFFFF;
}
.content__words--second {
    font-family: Futura PT;
    font-size: 18px;
    font-weight: 300;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: right;
    color: #C2C2C2;
}
.content__words--third {
    font-family: Segoe UI;
    font-size: 18px;
    font-style: italic;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #EFC58B;
}
.zag {
    width: 433px;
    height: 71px;
    font-family: Forum;
    font-size: 64px;
    font-weight: 400;
    line-height: 71px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #272727;
}
.podzag {
    width: 178px;
    height: 24px;
    font-family: Segoe UI;
    font-size: 18px;
    font-style: italic;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #272727;
    text-decoration: none;
    padding-left: 38px
}
.podzag_ {
    width: 130px;
    border: 1px solid #272727;
    text-decoration: none;
}
.RU {
    width: 20px;
    height: 21px;
    font-family: Futura PT;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.05em;
    text-align: left;
    color: #272727;
}
.EN {
    width: 21px;
    height: 21px;
    font-family: Futura PT;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.05em;
    text-align: left;
    color: #272727;
    opacity: 50%;
}
.pictures {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: start;
    gap: 21px;
}
.pictures__left {
    background-image: url(for@1.jpg);
}
.pictures__right {
    background-image: url(for@2.jpg);
}

