body {
    margin: 0;
}
header {
    width: 100%;
    height: 110px;
    display: flex;
    flex-direction: row;
    padding-top: 60px;
    position: absolute;
    z-index: 10;
    justify-content: space-between;
    align-items: center;
}
header img {
    width: 258px;
    height: 28px;
    top: 60px;
    left: 162px;
    margin-left: 162px;
}
.navigation {
    width: 260px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 450px;
    margin-right: 162px;
}
.navigation__item {
    display: block;
    width: 24px;
    height: 21px;
}
.navigation__item--heart {
    background: url("Vector\ \(2\).png") no-repeat center center;
}
.navigation__item--person {
    background: url("Vector\ \(3\).png") no-repeat center center;
}
.navigation__item--card {
    background: url("Rectangle.png") no-repeat center center;
}
.navigation__item--stripes {
    background: url("Group\ 12.png") no-repeat center center;
    padding-left: 80px;
}
.content {
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 60%, rgba(0,0,0,1) 60%, rgba(0,0,0,1) 100%);
    width: 100%;
    height: 1024px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content__title {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: stretch;
    margin-top: 427px;
}
.content__zag {
    width: calc(60% - 162px);
    height: 174px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 162px;
}
.content__zag span {
    width: 433px;
    height: 71px;
    font-family: Forum;
    font-size: 64px;
    font-weight: 400;
    line-height: 71px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #272727;
}
.content__zag__podzag {
    width: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}
.content__picture {
    flex: 1;
    text-align: center;
}
@media screen and (min-width: 1400px) {
    .content__picture {
        text-align: left;
    }
    .ring {
        margin-left: -160px;
    }
}
.content__words {
    width: 200px;
    height: 85px;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
    white-space: nowrap;
    margin-right: 162px;
}
.content__footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    margin-top: 281px;
}
.content__language {
    width: 51px;
    margin-left: 162px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.content__words--first {
    font-family: Futura PT;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.05em;
    text-align: right;
    color: #FFFFFF;
}
.content__words--second {
    font-family: Futura PT;
    font-size: 18px;
    font-weight: 300;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: right;
    color: #C2C2C2;
}
.content__words--third {
    font-family: Segoe UI;
    font-size: 18px;
    font-style: italic;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #EFC58B;
}
.zag {
    width: 433px;
    height: 71px;
    font-family: Forum;
    font-size: 64px;
    font-weight: 400;
    line-height: 71px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #272727;
}
.podzag {
    width: 178px;
    height: 24px;
    font-family: Segoe UI;
    font-size: 18px;
    font-style: italic;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #272727;
    text-decoration: none;
    padding-left: 38px
}
.podzag_ {
    width: 130px;
    border: 1px solid #272727;
    text-decoration: none;
}
.RU {
    width: 20px;
    height: 21px;
    font-family: Futura PT;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.05em;
    text-align: left;
    color: #272727;
}
.EN {
    width: 21px;
    height: 21px;
    font-family: Futura PT;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.05em;
    text-align: left;
    color: #272727;
    opacity: 50%;
}
.pictures {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: start;
    gap: 21px;
}
.pictures__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 587px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto;
}
.pictures__item--left {
    background-image: url(for@1.jpg);
}
.pictures__item--right {
    background-image: url(for@2.jpg);
}
.pictures__item span:first-child {
    font-family: Futura PT;
    font-size: 24px;
    font-weight: 300;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: right;
    color: #FFFFFF;
}
.pictures__item span {
    font-family: Forum;
    font-size: 64px;
    font-weight: 400;
    line-height: 71px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #FFFFFF;
}
.pictures__item hr {
    border: 1px solid #FFFFFF;
    width: 130px;
}
.maps {
    display: flex;
    margin-top: 20px;
    height: 604px;
    background: #272727;
}
.maps__zag {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 620.5px;
}
.maps__zag span:first-child {
    font-family: Forum;
    font-size: 48px;
    font-weight: 400;
    line-height: 53px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.maps__zag span {
    font-family: Futura PT;
    font-size: 18px;
    font-weight: 300;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    width: 400px;
}
.maps__input {
    margin-top: 60px;
    border-bottom: 1.8px solid #FFFFFF;
}
.maps__input__add {
    background: #272727;
    width: 386px;
    top: 2083px;
    left: 162px;
    border: 0; 
    line-height: 43px;
    font-family: Futura PT;
    font-size: 18px;
    font-weight: 300;
    color: #FFFFFF;
}

.maps__input__add:focus{
    outline: none;
}

.maps__input__add::placeholder{
    color: #FFFFFF66;
}
.maps__input__add:focus::placeholder{
    color: transparent;
}
.maps__input button {
    background-color: transparent;
    background-image: url(Line.png);
    width: 30px;
    height: 17px;
    color: #272727;
    border: 0;
}
.rings {
    margin-top: 20px;
    display:flex;
    width: 100%;
    justify-content: center;
}
.rings__rings {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.rings__item1,.rings__item2, .rings__item3, .rings__item4 {
    width: 400px;
    height: 400px;
    background: #EDEDED;

}
.rings__item1 img {
    margin-left: 70px;
    margin-top: 47px;
    margin-bottom: 67px;
}
.rings__item1 div {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    height: 86px;
    justify-content: space-between;
}
.rings__item2 img {
    margin-left: 70px;
    margin-top: 60px;
    margin-bottom: 67px;
}
.rings__item2 div {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    height: 86px;
    justify-content: space-between;
}
.rings__item3 img {
    margin-right: 40px;
    margin-top: -20px;
}
.rings__item3 div {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    height: 86px;
    justify-content: space-between;
    margin-top: -6px;
}
.rings__item4 img {
    margin-right: 43px;
    margin-top: -9px; 
}
.rings__item4 div {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    height: 86px;
    justify-content: space-between;
    margin-top: -11px;
}
.rings__zag {
    font-family: Futura PT;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.51px;
    letter-spacing: 0.05em;
    text-align: left;
    color: #272727;
}
.rings__podzag {
    font-family: Futura PT;
    font-size: 18px;
    font-weight: 300;
    line-height: 23.08px;
    text-align: left;
    color: #757575;
}
.rings__price {
    font-family: Segoe UI;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    line-height: 23.94px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #e2b67a;
}
.rings__picture {
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
}
.rings__picture div {
    position: absolute;
    left: 30px;
    bottom: 20px;
    display: flex;
    flex-direction: column;
}
.social {
    margin-top: 20px;
    background: #272727;
    width: 100%;
    height: 886px;
}
.social span{
    position: relative;
    top: 100px;
    left: 162px;
    font-family: Forum;
    font-size: 48px;
    font-weight: 400;
    line-height: 52.99px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #FFFFFF;
}
.something {
    width: 100%;
    height: 640px;
    display: flex;

}
.something__text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 110px;
    padding-top: 180px;
}
.something__number {
    width: 345px;
    height: 81px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.something__number span:first-child{
    font-family: Futura PT;
    font-size: 18px;
    font-weight: 400;
    line-height: 23.08px;
    letter-spacing: 0.05em;
    text-align: right;
    color: #272727;
}
.something__number span {
    font-family: Futura PT;
    font-size: 22px;
    font-weight: 300;
    line-height: 28.2px;
    text-align: left;
    color: #959595;
}
.something__news {
    height: 89px;
    width: 345px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: start;
    border-bottom: 1.8px solid #272727;
}
.something__news span {
    font-family: Futura PT;
    font-size: 18px;
    font-weight: 400;
    line-height: 23.08px;
    letter-spacing: 0.05em;
    text-align: right;
    color: #272727;
}
.something__input__add {
    
    width: 307px;
    top: 2083px;
    left: 162px;
    border: 0; 
    line-height: 43px;
    font-family: Futura PT;
    font-size: 22px;
    font-weight: 300;
    color: #FFFFFF;
}
.something__input__add:focus{
    outline: none;
}

.something__input__add::placeholder{
    color: #959595;
}
.something__input__add:focus::placeholder{
    color: transparent;
}
.something__input button {
    background-color: transparent;
    background-image: url(Line1.png);
    width: 30px;
    height: 17px;
    color: #272727;
    border: 0;
}
footer {
    background: #272727;
    width: 100%;
    height: 220px;
    padding-top: 80px;
    padding-bottom: 90px;
}
.end {
    width: 1150px;
    height: 220px;
    margin-left: 162px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.end__navigation {
    display: flex;
    flex-direction: row;
    width: 1150px;
    height: 18px;
    gap: 72px;
}
.end__navigation a {
    font-family: Futura PT;
    font-size: 18px;
    font-weight: 450;
    line-height: 17.95px;
    letter-spacing: 0.06em;
    text-align: left;
    color: #FFFFFF;
    text-decoration: none;
}
.end__all {
    height: 112px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.end__number {
    width: 184px;
    height: 112px;
    margin-right: -182px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.end__number span:first-child {
    font-family: Futura PT;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.95px;
    letter-spacing: 0.05em;
    text-align: right;
    color: #FFFFFF;
    white-space: nowrap;
}
.end__number span {
    font-family: Futura PT;
    font-size: 18px;
    font-weight: 300;
    line-height: 23.08px;
    text-align: left;
    color: #C2C2C2;
}
.end__fac-inst {
    height: 35px;
}
.end__news {
    width: 184px;
    height: 112px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.end__news span {
    font-family: Futura PT;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.95px;
    letter-spacing: 0.05em;
    text-align: right;
    color: #FFFFFF;
    white-space: nowrap;
}
.end__app-google {
    height: 30px;
}
.end__input__add {
    background: #272727;
    width: 146px;
    top: 2083px;
    left: 162px;
    border: 0; 
    line-height: 43px;
    font-family: Futura PT;
    font-size: 18px;
    font-weight: 300;
    color: #FFFFFF;
}
.end__input__add:focus{
    outline: none;
}

.end__input__add::placeholder{
    color: #959595;
}
.end__input__add:focus::placeholder{
    color: transparent;
}
.end__input button {
    background-color: transparent;
    background-image: url(Line.png);
    width: 30px;
    height: 17px;
    color: #272727;
    border: 0;
}
.end__input {
    border-bottom: 1px solid #FFFFFF;
}
