.navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .navigation a {
    display: block;
    margin: 0 10px;
    font-family: Fira Sans;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    text-decoration: none;
  }
  .navigation a:hover {
    text-decoration: underline;
  }