header {
    width: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 24px 0 24px;
}
.container {
    margin-left: 60px;
    margin-right: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container__three {
    display: none;
}
.container__menu {
    height: 16px;
    display: flex;
    gap: 16px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.contacts__phone {
    font-family: Formular;
    font-size: 20px;
    font-weight: 900;
    line-height: 28px;
    text-align: left;
    color: #111827;
}
.contacts__title {
    display: none;
    font-family: Formular;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;

}

.container__menu button {
    background: url(Burger.png) no-repeat center center;
    width: 24px;
    height: 16px;
    border: 0;
}
.container__one {
    margin-left: 60px;
    margin-right: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid #A78BFA;
    border-bottom: 2px solid #A78BFA;
    padding: 12px 0 12px;
    display: none;
}
.container_nav {
    display: flex;
    gap: 24px;
}
.container_nav a {
    font-family: Formular;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    color: #111827;
    text-decoration: none;
}
.container__one button {
    font-family: Formular;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    color: white;
    background: #8B5CF6;
    width: 196px;
    height: 44px;
    padding: 10px 28px 10px 28px;
    gap: 4px;
    border-radius: 4px;
    opacity: 0px;
    border: none;
}
.container__two {
    margin-left: 60px;
    margin-right: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    display: none;
}
.container__two span {
    font-family: Formular;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    color: #111827;
    width: 232.5px;
}


.wrapper {
    background: #E5E7EB;
    padding: 48px 59px 48px;
}
.content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: start;
}
.content__zag {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.content__zag span:first-child {
    font-family: Formular;
    font-size: 30px;
    font-weight: 900;
    line-height: 36px;
    text-align: left;
    color: #111827;

}
.content__zag span {
    font-family: Formular;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    color: #111827;
}
.calculator {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    border-radius: 16px;
    gap: 28px;
}
.calculator__zag {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;
    width: 358px;
    gap: 16px;
    margin-top: 24px;
    margin-bottom: 28px;
}
.calculator__zag span:first-child {
    font-family: Formular;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    color: #111827;
}
.calculator__zag span {
    font-family: Formular;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #111827;
}
.calculator__search {
    width: 569px;
    height: 336px;
    gap: 24px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.calculator__search-input-name {
    padding: 12px;
    gap: 4px;
    border-radius: 4px;
    border: 2px solid #111827;
    width: 100%;
}
.calculator__search-input {
    width: 244.5px;
    padding: 12px;
    gap: 4px;
    border-radius: 4px;
    border: 2px solid #111827;
}
.calculator__button {
    margin-bottom: 24px;
}
.calculator__button button {
    height: 44px;
    width: 569px;
    padding: 10px 28px 10px 28px;
    gap: 4px;
    border-radius: 4px;
    border: none;
    opacity: 0px;
    background: #8B5CF6;
    color: white;
    font-family: Formular;
    font-size: 16px;
}
.advantages {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}
.advantages span {
    font-family: Formular;
    font-size: 30px;
    font-weight: 900;
    line-height: 36px;
    text-align: left;
    color: #111827;
}
.advantages__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}
.advantages__item {
    gap: 12px;
    display: flex;
    align-items: center;
    width: 372px;
}
.advantages__text {
    gap: 12px;
    display: flex;
    flex-direction: column;
}
.advantages__text span:first-child {
    font-family: Formular;
    font-size: 20px;
    font-weight: 900;
    line-height: 28px;
    text-align: left;
}
.advantages__text span {
    font-family: Formular;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
}
.guarantees {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.guarantees__zag {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin-bottom: 24px;
}
.guarantees__zag span:first-child {
    font-family: Formular;
    font-size: 30px;
    font-weight: 900;
    line-height: 36px;
    text-align: left;
}
.guarantees__zag span {
    font-family: Formular;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}
.guarantees__podzag {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-bottom: 36px;
}
.guarantees__certificate {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}
.guarantees__certificate span {
    font-family: Formular;
    font-size: 18px;
    font-weight: 900;
    line-height: 28px;
    text-align: center;
}
.guarantees button {
    height: 56px;
    width: 315px;
    padding: 16px 28px 16px 28px;
    gap: 4px;
    border-radius: 4px;
    border: none;
    opacity: 0px;
    background: #8B5CF6;
    color: white;
    font-family: Formular;
    font-size: 16px;
}
.reviews {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px 
}
.reviews span {
    font-family: Formular;
    font-size: 30px;
    font-weight: 900;
    line-height: 36px;
    text-align: left;
}
.reviews__info {
    display: flex;
    gap: 24px;
}
.reviews__text-one {
    background: white;
    border-radius: 16px;
    padding: 32px 16px;
}
.reviews__text-two {
    display: none;
    background: white;
    border-radius: 16px;
    padding: 32px 16px;
}
.reviews__text span {
    font-family: Formular;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    text-align: left;
}
.reviews__picture {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.reviews__picture span {
    font-family: Formular;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #6B7280;
}
.questions {
    margin-top: 48px;
    padding: 64px 135.5px;
    background: #F9FAFB;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.questions span {
    font-family: Formular;
    font-size: 30px;
    font-weight: 900;
    line-height: 36px;
    text-align: left;
}
.questions__search {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 24px;
    justify-content: center;
    margin-top: 32px;
    margin-bottom: 20px;
}
.questions_search-input {
    width: calc(50% - 12px);
    padding: 12px;
    gap: 4px;
    border-radius: 4px;
    border: 2px solid #111827;
    box-sizing: border-box;
}
.questions_search-textarea {
    border-radius: 4px;
    border: 2px solid #111827;
    width: 100%;
    height: 126px;
    padding: 12px;
    gap: 4px;
}
.questions button {
    width: 100%;
    height: 44px;
    padding: 10px 28px 10px 28px;
    gap: 4px;
    border-radius: 4px;
    opacity: 0px;
    background: #8B5CF6;
    color: white;
    font-family: Formular;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    border: none;
}
footer {
    background: #111827;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding-top: 40px;
    padding-bottom: 44px;
}
.footer__navigation {
    display: flex;
    gap: 24px;
}
.footer__navigation a {
    color: white;
    text-decoration: none;
}
.footer__navigation-two {
    display: none;
}
.footer__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}
.footer__info span:first-child {
    font-family: Formular;
    font-size: 30px;
    font-weight: 900;
    line-height: 36px;
    text-align: left;
    color: #F9FAFB;
}
.footer__info span {
    font-family: Formular;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    color: #F9FAFB;
}
.footer__info-span {
    font-family: Formular;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    color: #F9FAFB;
}
.footer__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 0 128px;
}
.footer__text span:first-child {
    font-family: Formular;
    font-size: 12px;
    font-weight: 300;
    line-height: 16px;
    text-align: center;
    color: #4B5563;
}
.footer__text span {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
    color: #6B7280;
}
.footer__number {
    display: flex;
    flex-direction: column;
}
@media screen and (min-width: 759px) {
    .container__menu button {
        display: none;
    }
    .contacts__title {
        display: block;
    }
    .container__one {
        display: flex;
    }
    .container__two {
        display: flex;
    }
    .advantages__list {
        flex-wrap: wrap;
        flex-direction: row;
    }
    .advantages__item {
        width: calc(50% - 12px);
    }
    .guarantees__podzag {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .guarantees__certificate {
        width: calc(50% - 12px);
    }
    .footer__info {
        flex-direction: row-reverse;
        justify-content: space-between;
        width: calc(100% - 256px);
    }
    .content img {
        width: 100%;
    }
}
@media screen and (min-width: 1024px) {
    .container__one {
        border: 0;
    }
    .content {
        flex-direction: row;
    }
    .reviews__text-two {
        display: block;
    }
    .footer__text {
        flex-direction: row;
    }
    .content img {
        width: 50%;
    }
    .container__three {
        display: flex;
        flex-direction: column;
        align-items: end;
        padding-right: 12px;
        border-right: 1px solid #A78BFA
    }
    .container__two {
        display: none;
    }
    .footer__navigation-two a {
        color: white;
        text-decoration: none;
    }
    .footer__navigation-two {
        display: flex;
        gap: 24px;
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer__navigation {
        display: none;
    }
    .footer__info {
        width: calc(100% - 30px);
    }
}
@media screen and (min-width: 1536px) {
    .content__calculator {
        display: flex;
        gap: 24px;
    }
    .content {
        flex-direction: column;
        width: 50%;
    }
    .content img {
        width: calc(100% - 12px);
    }
    .calculator {
        width: 50%;
        margin-top: 0;
    }
    .advantages__item {
        width: 33.3%;
        min-width: 30%;
        flex: 1;
    }
    .guarantees__certificate {
        width: 25%;
        flex: 1;
        min-width: 20%;
    }
}